.header {
  align-items: center;
  background-color: white;
  color: white;
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 0 40px;

  /* font-weight: bold; */
  border-bottom: 2px solid #979797;

  /* position: sticky; top: 0px;  */
  // font-family: Rubik;
}

.logo {
  width: 60px;
  height: 60px;
}
