@import '../../colors.less';

.divLoadingBar {
  position: absolute;
  left: 30%;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  margin: 0;
  bottom: 0;
}

.container {
  padding-left: 30%;
  h1 {
    color: @mine-shaft;
    display: inline-block;
    font-size: 24px;
    font-family: 'Tiempos Headline', sans-serif;
    font-weight: 700;
    line-height: 34px;
    padding-left: 20px;
    margin-bottom: 24px;
    width: 50%;
  }
  .sortWrapper {
    background: transparent;
    color: @mine-shaft;
    display: inline-block;
    letter-spacing: 0.48px;
    position: relative;
    text-align: right;
    text-transform: uppercase;
    width: 50%;
    span {
      font-size: 12px;
      margin-right: 4px;
    }
    select {
      -webkit-appearance: none;
      background: transparent;
      background-repeat: no-repeat;
      background-position: right center;
      border: none;
      color: @mine-shaft;
      font-size: 12px;
      line-height: 16px;
      min-width: 90px;
      text-transform: uppercase;
      padding-right: 20px;
    }
    i {
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: -1;
    }
  }
  .scrollarea {
    display: flex;
    color: #999;
    flex-wrap: wrap;
    height: calc(100vh - 200px);
    overflow: scroll;
    .album {
      cursor: pointer;
      display: inline-block;
      width: 18vw;
      outline: none;
      margin: 15px 1vw;
      .albumImg {
        border-radius: 2px;
        overflow: hidden;
        width: 18vw;
        height: 18vw;
        img {
          height: 100%;
          object-fit: cover;
          width: 100%;
        }
      }
      .title {
        color: @mine-shaft;
        font-size: 14px;
        font-weight: 600;
        line-height: 16px;
        padding-top: 12px;
      }
      .artists {
        color: @dusty-gray;
        font-size: 10px;
        line-height: 16px;
      }
    }
    .btnWrapper {
      flex-basis: 100%;
      text-align: center;
      .loadBtn {
        background: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        &:hover {
          text-decoration: underline;
        }
        span {
          margin-left: 8px;
        }
      }
    }
  }
}
.backgroundImg {
  bottom: -75px;
  left: 25%;
  position: fixed;
  z-index: -99;
}
@media (min-width: 1200px) {
  .container {
    .scrollarea {
      .album {
        cursor: pointer;
        width: 9vw;
        .albumImg {
          border-radius: 2px;
          overflow: hidden;
          width: 9vw;
          height: 9vw;
          img {
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
        }
      }
    }
  }
}
