@import '../../colors.less';

.container {
  color: @mine-shaft;
  padding-left: 30%;
  min-height: calc(100vh - 104px);
  display: flex;
  flex-direction: column;
  h1 {
    color: @mine-shaft;
    font-size: 24px;
    font-family: 'Tiempos Headline', sans-serif;
    font-weight: 700;
    line-height: 34px;
    padding-left: 20px;
    margin-bottom: 24px;
  }
  button {
    border-radius: 4px;
    cursor: pointer;
    font-weight: 800;
    padding: 8px 16px;
  }
  .row {
    align-items: flex-start;
    border-bottom: 1px solid rgba(#222, 0.05);
    display: flex;
    padding: 28px 0;

    h3 {
      font-size: 10px;
      font-weight: 800;
      line-height: 13px;
      text-transform: uppercase;
    }
    h4 {
      color: @emperor;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      max-width: 85%;
    }
    .select {
      -webkit-appearance: none;
      background: @white;
      font-size: 12px;
      font-weight: 800;
      line-height: 16px;
      min-width: 120px;
      margin-left: auto;
      border: 1px solid @cararra;
      padding: 10px 16px;
      background-image: url('../../assets/icons/double-arrows-icon.svg');
      background-repeat: no-repeat;
      background-position: 90% center;
    }
    .icon {
      height: 32px;
      margin-right: 16px;
      width: 32px;
    }
    button {
      border: 1px solid @cararra;
      margin-left: auto;
      span {
        font-size: 12px;
        font-weight: 800;
        margin-right: 16px;
      }
      img {
        width: 16px;
        margin-left: auto;
      }
    }
    .toggleSwitch {
      background-color: @white;
      border: 1px solid @cararra;
      border-radius: 4px;
      cursor: pointer;
      display: flex;
      font-size: 12px;
      font-weight: 700;
      letter-spacing: -0.1px;
      margin-left: auto;
      padding: 3px;
      div {
        background-color: @white;
        padding: 6px 16px;
        color: @mine-shaft;
      }
      .enabled {
        background-color: @mine-shaft;
        color: @white;
      }
    }
  }
  .buttonsWrapper {
    align-self: flex-end;
    display: flex;
    font-size: 10px;
    float: right;
    margin-top: auto;
    .cancelBtn {
      background: transparent;
      border: none;
      color: @mine-shaft;
      text-transform: uppercase;
    }
    .saveBtn {
      background: @buttercup;
      border: none;
      color: @white;
      text-transform: uppercase;
      margin-left: 16px;
    }
  }
}
.backgroundImg {
  bottom: -75px;
  left: 25%;
  position: fixed;
  z-index: -99;
}
