@import '../../colors.less';
/* stylelint-disable no-descending-specificity */

.container {
  .backBtn {
    align-items: center;
    color: gray;
    display: flex;
    float: left;
    i {
      cursor: pointer;
    }
    .titleBack {
      cursor: pointer;
      font-size: 16px;
      margin-left: 6px;
      text-transform: uppercase;
    }
  }
  .divLoadingBar {
    position: absolute;
    left: 30%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    margin: 0;
    bottom: 0;
  }
  .footer {
    background-color: @mine-shaft;
    box-shadow: 0 8px 8px #00000029;
    border-radius: 4px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
    position: fixed;
    overflow: hidden;
    bottom: 1vw;
    left: 1vw;
    right: 1vw;
    z-index: 1000;
    width: 98vw;
    h3 {
      color: @cararra;
      font-size: 12px;
      b {
        font-weight: 800;
        margin-right: 4px;
      }
    }
    .downloadBtn {
      background-color: @buttercup;
      border-radius: 4px;
      border: none;
      color: @white;
      font-size: 10px;
      font-weight: 800;
      line-height: 13px;
      padding: 10px 24px;
      text-transform: uppercase;
      i {
        margin-left: 16px;
      }
    }
    .backgroundImg {
      left: 0;
      position: absolute;
      top: 10px;
      z-index: -1;
    }
    .selectWrapper {
      background: transparent;
      border: 1px solid rgba(@cararra, 0.1);
      border-radius: 4px;
      color: rgba(@cararra, 0.5);
      margin: 0 32px 0 auto;
      padding: 6px 16px;
      span {
        font-size: 12px;
        margin-right: 4px;
      }
      select {
        -webkit-appearance: none;
        background: transparent;
        background-image: url('../../assets/icons/double-arrow-white.svg');
        background-repeat: no-repeat;
        background-position: right center;
        border: none;
        color: @cararra;
        font-size: 12px;
        font-weight: 800;
        line-height: 16px;
        min-width: 90px;
        padding-right: 16px;

        option {
          color: @mine-shaft;
        }
      }
    }
  }
  .albumContainer {
    clear: both;
    display: flex;
    width: 100%;
    .albumCover {
      padding: 32px 0;
      width: 40%;
      .progressBar {
        font-size: 8px;
        margin-right: 10px;
      }
      .error {
        font-size: 16px;
        i {
          color: @buttercup;
        }
      }
      .cover {
        border-radius: 10px;
        box-shadow: 0 16px 24px #00000029;
        max-width: 500px;
        width: 90%;
      }
      .downloadBtn {
        color: @emperor;
        cursor: pointer;
        display: flex;
        font-weight: 200;
        margin: 16px 4px;
        span {
          letter-spacing: -0.1px;
          margin-right: 16px;
          outline: none;
        }
        img {
          margin-right: 16px;
        }
      }
    }
    .albumTracks {
      width: 60%;
      h2 {
        color: @mine-shaft;
        font-size: 24px;
        font-family: 'Tiempos Headline', sans-serif;
        font-weight: 700;
        line-height: 34px;
        padding-bottom: 16px;
      }
      h3 {
        span {
          color: @emperor;
          font-size: 14px;
        }
      }
      h4 {
        color: @mine-shaft;
      }
      .scrollArea {
        height: calc(100vh - 340px);
        overflow: scroll;
      }

      .listHeader {
        align-items: center;
        border-bottom: 1px solid rgba(@mine-shaft, 0.05);
        display: flex;
        padding: 16px 0 10px;
        width: 100%;
        span {
          color: @dusty-gray;
          font-size: 12px;
          line-height: 13px;
          text-transform: uppercase;
        }
        span:first-of-type {
          margin: 0 20px;
        }
        .toggleSelectBtn {
          border: none;
          background: transparent;
          margin-left: auto;
          outline: none;
          &:disabled {
            span {
              color: @dusty-gray;
            }
          }
          span {
            color: @tulip-tree;
            margin: 0 !important;
          }
        }
        .deselectBtn {
          border: 1px solid @buttercup;
          border-radius: 1px;
          cursor: pointer;
          display: flex;
          width: 14px;
          height: 14px;
          text-align: center;
          span {
            background-color: @buttercup;
            margin: auto;
            width: 5px;
            height: 1px;
          }
        }
        .disabled {
          border-color: rgba(@mine-shaft, 0.1);
        }
      }
      .trackList {
        padding-bottom: 120px;
        .checkbox {
          width: 100%;
          white-space: nowrap;
        }
        .track {
          border-bottom: 1px solid rgba(@mine-shaft, 0.05);
          display: flex;
          padding: 16px 0;
          span:nth-of-type(2) {
            font-size: 14px;
            max-width: 90%;
          }
          h4 {
            color: @mine-shaft;
            display: inline-block;
            text-overflow: ellipsis;
            margin-left: 10px;
            max-width: 100%;
            overflow: hidden;
            vertical-align: middle;
            white-space: pre;
          }
          .downloaded {
            align-self: center;
            font-size: 9px;
            color: @sea-green;
          }
        }
      }
    }
  }
}
