@import '../../colors.less';

.scrollArea {
  height: calc(100vh - 250px);
  overflow: scroll;
}

.container {
  color: @mine-shaft;
  padding-left: 30%;
  h1 {
    color: @mine-shaft;
    font-size: 24px;
    font-family: 'Tiempos Headline', sans-serif;
    font-weight: 700;
    line-height: 34px;
    padding-left: 20px;
    margin-bottom: 24px;
  }
  h3 {
    color: @dusty-gray;
    margin: auto;
    text-align: center;
  }
  .header {
    border-bottom: 1px solid rgba(@mine-shaft, 0.05);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 14px 16px 14px 32px;
    h4 {
      color: @dusty-gray;
      font-size: 10px;
    }
  }
  .progressBar {
    font-size: 8px;
  }
  .loading {
    i {
      color: @emperor;
    }
  }
  .paused {
    i {
      color: @buttercup;
    }
  }
  .backgroundImg {
    bottom: -75px;
    left: 25%;
    position: fixed;
    z-index: -99;
  }
}
