@import '../../colors.less';

.sidebar {
  background-color: transparent;
  box-sizing: border-box;
  height: 100vh;
  max-width: unset;
  position: fixed;
  top: 0;
  left: 0;
  width: 24vw;
  padding: 60px 36px 28px;
  ul {
    border: none;
    li {
      div {
        color: @dusty-gray;
      }
      &:active {
        color: @mine-shaft;
      }
    }
  }
  .submenu {
    div {
      align-items: center;
      display: flex;
      padding-left: 0 !important;
    }
    .submenuBtn {
      color: @dusty-gray;
      font-size: 12px;
      text-align: left;
      padding-left: 40px !important;
    }
    i::before,
    i::after {
      background-image: linear-gradient(
        to right,
        @dusty-gray,
        @dusty-gray
      ) !important;
    }
    h3 {
      align-items: center;
      color: @dusty-gray;
      display: flex;
      font-size: 12px;
      font-weight: 400;
      justify-content: space-between;
      line-height: 16px;
      margin: 0;
      width: 100%;
    }
    &:hover {
      h3 {
        color: @emperor;
      }
      i::before,
      i::after {
        background-image: linear-gradient(
          to right,
          @emperor,
          @emperor
        ) !important;
      }
    }
  }
  .logo {
    background: transparent;
    border: none;
    bottom: 28px;
    cursor: pointer;
    left: 36px;
    position: absolute;
    img {
      width: 130px;
      max-width: 100%;
    }
  }
  .buttonWrapper {
    border-top: 2px solid @pampas;
    padding: 28px 0;
    .menuButton {
      border-radius: 4px;
      color: @emperor;
      display: block;
      font-size: 12px;
      height: auto;
      letter-spacing: -0.1px;
      line-height: 16px;
      margin: 8px auto;
      padding: 8px 8px;
      text-align: left;
      width: 100%;
      img {
        color: @emperor;
        margin-right: 12px;
        vertical-align: middle;
      }
    }
    .active {
      background-color: @pampas;
      color: @mine-shaft;
      font-weight: 600;
      i {
        color: @tulip-tree;
      }
    }
  }
}
#userIcon {
  border: 1px solid @dusty-gray;
  border-radius: 100%;
  box-sizing: content-box;
  color: @dusty-gray;
  padding: 8px;
}
