@font-face {
  font-family: 'Rubik';
  src: url('Rubik-Regular.ttf');
}

@font-face {
  font-family: 'Larsseit Bold';
  src: url('Larsseit-Bold.ttf');
}

@font-face {
  font-family: 'Larsseit Light';
  src: url('Larsseit-Light.ttf');
}

@font-face {
  font-family: 'Larsseit Medium';
  src: url('Larsseit-Medium.ttf');
}

@font-face {
  font-family: 'Larsseit';
  src: url('Larsseit.ttf');
}

@font-face {
  font-family: 'Tiempos Headline';
  src: url('TiemposHeadline-Bold.otf');
}
