@import '../../colors.less';

.errorWrapper {
  background-color: @chablis;
  border: 1px solid @pink;
  color: @red;
  position: fixed;
  bottom: 8px;
  left: 8px;
  width: calc(100vw - 16px);
  padding: 18px 32px;
  z-index: 1000;
  span {
    cursor: pointer;
    float: right;
    i {
      color: @tamarillo;
    }
  }
}
