@import '../../colors.less';

.container {
  background: white;
  display: flex;
  height: 100vh;
  margin: -64px -32px 0;
  overflow: hidden;
  .logo {
    display: flex;
    justify-content: center;
    position: relative;
    width: 50%;
    img:not(.backgroundImg) {
      width: 60%;
    }
    .backgroundImg {
      position: absolute;
      left: 0;
      bottom: -10%;
    }
  }
  .loginWrapper {
    background: @pampas;
    display: flex;
    // flex-wrap:  wrap;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 40px;
    z-index: 10;
    h1 {
      border-bottom: 1px solid rgba(@mine-shaft, 0.05);
      color: @mine-shaft;
      font-size: 24px;
      font-family: 'Tiempos Headline', sans-serif;
      font-weight: 700;
      line-height: 34px;
      padding-bottom: 32px;
      width: 100%;
    }
    p {
      color: @emperor;
      font-size: 12px;
      font-weight: 300;
      line-height: 18px;
      padding: 36px 0;
      b {
        color: @buttercup;
        font-weight: 500;
      }
      span {
        color: @buttercup;
        cursor: pointer;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .inputWrapper {
      width: 100%;
      display: flex;
      input {
        border: 1px solid @cararra;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        color: @emperor;
        font-size: 12px;
        padding: 8px 16px;
        flex-basis: 65%;
      }
      button {
        background-color: @buttercup;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        font-size: 10px;
        font-weight: 700;
        color: white;
        padding: 9px 16px;
        text-transform: uppercase;
        span {
          vertical-align: middle;
        }
        img {
          margin-left: 10px;
          vertical-align: middle;
        }
      }
    }
  }
}
