/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~antd/dist/antd.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import './colors.less';
@import './assets/fonts/font.css';

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #fff;
  font-family: 'Larsseit', sans-serif;
  overflow-y: scroll;
  padding: 64px 32px 0;
}
body::before {
  width: 100%;
  height: 30px;
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-app-region: drag;
}

body::after {
  background-color: @pampas;
  border-top-left-radius: 20px;
  content: '';
  height: 100vw;
  position: fixed;
  right: 0;
  top: 32px;
  width: 76vw;
  z-index: -100;
}

* {
  outline: none;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

button:not([disabled]) {
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}
button:hover {
  filter: brightness(95%);
}
select {
  cursor: pointer;
}

a {
  color: white;
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}

.ant-checkbox-checked {
  font-weight: 900;
  &::after {
    border-color: @buttercup;
  }
  .ant-checkbox-inner {
    background-color: @buttercup;
    border-color: @buttercup;
    &::selection {
      background-color: @buttercup;
    }
  }
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: @buttercup;
}
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: rgb(217, 217, 217);
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: @pampas;
}
.ant-menu-inline .ant-menu-selected::after,
.ant-menu-inline .ant-menu-item-selected::after {
  display: none;
}
