@buttercup: #f39c12;
@cararra: #ebeae7;
@chablis: #ffefef;
@dusty-gray: #999999;
@emperor: #555555;
@mine-shaft: #222222;
@pampas: #f6f5f2;
@pink: #ffc9cb;
@red: #f31212;
@tulip-tree: #e8a444;
@white: #fff;
@sea-green: #399061;
@tamarillo: #991414;
