@import '../../colors.less';

.track {
  align-items: center;
  border-bottom: 1px solid rgba(@mine-shaft, 0.05);
  display: flex;
  h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 8px 0 0;
    vertical-align: middle;
  }
  h4 {
    display: inline-block;
    text-overflow: ellipsis;
    margin: 0 8px;
    overflow: hidden;
    vertical-align: middle;
    max-width: 80%;
    white-space: pre;
  }
  div {
    display: inline-block;
  }
  .trackInfo {
    max-width: 70%;
  }
  .date {
    color: @dusty-gray;
    font-size: 10px;
    margin-left: auto;
  }
  .actions {
    margin-left: auto;
    .retryButton {
      border: 1px solid @cararra;
      border-radius: 4px;
      color: @mine-shaft;
      font-size: 10px;
      font-weight: 700;
      margin-right: 8px;
      padding: 8px 16px;
      text-transform: uppercase;
      img {
        margin-left: 8px;
      }
    }
    .cancel {
      align-items: center;
      cursor: pointer;
      display: inline-flex;
      color: @red;
      // width: 15%;
      i {
        margin-left: 10px;
      }
    }
  }
  .progressWrapper {
    //  align-items: center;
    background-color: rgba(@mine-shaft, 0.02);
    display: flex;
    margin-right: 8px;
    .progressContainer {
      display: flex;
      flex-direction: column;
      text-align: left;
      padding: 10px;
      min-width: 70px;
      .sizeDownloaded {
        color: @emperor;
        font-size: 9px;
      }
      .progress {
        font-size: 10px;
        color: @buttercup;
      }
    }
    .devider {
      width: 1px;
      height: 20px;
      align-self: center;
      background-color: @emperor;
      &.loading {
        background-color: @buttercup;
      }
      &.error {
        background-color: none;
      }
      &.paused {
        background-color: @emperor;
      }
    }
    .status {
      align-items: center;
      cursor: pointer;
      display: flex;
      font-size: 11px;
      padding: 10px;
      min-width: 31px;

      &:hover {
        background-color: rgba(@mine-shaft, 0.05);
      }

      &.loading {
        font-size: 11px;
        i {
          color: @emperor;
        }
      }
      &.error {
        border-color: none;
        font-size: 14px;
        i {
          color: @buttercup;
        }
      }
      &.paused {
        border-color: @emperor;
        font-size: 11px;
        i {
          color: @buttercup;
        }
      }
    }
  }
}
.progressBar {
  cursor: pointer;
  font-size: 8px;
}
