@import '../../colors.less';

.popup {
  align-content: center;
  display: flex;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.4);
  .popup_inner {
    box-shadow: 0 16px 24px #00000029;
    background-color: white;
    padding: 36px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 60%;
    .backgroundImg {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 60%;
    }
    .title {
      color: @mine-shaft;
      font-weight: bold;
      font-family: 'Tiempos Headline', sans-serif;
      font-size: 24px;
      margin-bottom: 24px;
      text-align: center;
      width: 100%;
    }
    p {
      color: @dusty-gray;
      font-size: 16px;
      text-align: center;
    }
    .buttonsWrapper {
      align-self: flex-end;
      font-size: 10px;
      margin-top: 32px;
      button {
        border-radius: 4px;
        cursor: pointer;
        font-weight: 800;
        padding: 8px 16px;
      }
      .cancelBtn {
        background: transparent;
        border: none;
        color: @mine-shaft;
        text-transform: uppercase;
      }
      .confirmBtn {
        background: @buttercup;
        border: none;
        color: @white;
        text-transform: uppercase;
        margin-left: 16px;
      }
    }
  }
}
